.App {
  text-align: center;
}

.peopleContents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editContents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.page-contents {
  display: flex;
}